<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="sample">
      </category>
      <view
            id="com.example.e4.rcp.views.BrowserView"
            name="Browser View"
            icon="icons/sample.png"
            class="com.example.e4.rcp.views.BrowserView"
            category="sample"
            inject="true">
      </view>
      <view
            id="com.example.test"
            name="My Common Navigator"
            icon="icons/sample.png"
            class="org.eclipse.ui.navigator.CommonNavigator">
      </view>
      <category
            name="Sample Category"
            id="com.example.e4.rcp">
      </category>
      <view
            id="com.example.e4.rcp.views.SampleView"
            name="Sample View"
            icon="icons/sample.png"
            class="com.example.e4.rcp.views.SampleView"
            category="com.example.e4.rcp"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.example.e4.rcp.views.BrowserView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.example.test"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               ratio="0.5">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.example.e4.rcp.views.SampleView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.example.e4.rcp.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.example.e4.rcp.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="com.example.e4.rcp.sampleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.example.e4.rcp.sampleNature.category"
            name="Sample Project Nature commands">
      </category>
      <command
            categoryId="com.example.e4.rcp.sampleNature.category"
            defaultHandler="com.example.e4.rcp.builder.AddRemoveSampleNatureHandler"
            id="com.example.e4.rcp.addRemoveSampleNature"
            name="Add/RemoveSample Project Nature">
      </command>
      <category
            id="com.example.e4.rcp.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="com.example.e4.rcp.commands.category"
            name="Sample Command"
            id="com.example.e4.rcp.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               label="Disable Sample builder"
               commandId="com.example.e4.rcp.addRemoveSampleNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.example.e4.rcp.sampleNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               label="Enable Sample builder"
               commandId="com.example.e4.rcp.addRemoveSampleNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.example.e4.rcp.sampleNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.example.e4.rcp.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="com.example.e4.rcp.commands.sampleCommand"
                  id="com.example.e4.rcp.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.example.e4.rcp.toolbars.sampleToolbar">
            <command
                  id="com.example.e4.rcp.toolbars.sampleCommand"
                  commandId="com.example.e4.rcp.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.example.test">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.example.test">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            state="true"
            lightweight="true"
            id="com.example.e4.rcp.decorator"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            location="BOTTOM_RIGHT">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="com.example.e4.rcp.editors.XMLEditor"
            name="Sample XML Editor"
            icon="icons/sample.png"
            extensions="xml"
            class="com.example.e4.rcp.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
      </editor>
      <editorContentTypeBinding
            contentTypeId="com.example.e4.rcp.project"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editor
            id="com.example.e4.rcp.editors.MultiPageEditor"
            name="Sample Multi-page Editor"
            icon="icons/sample.png"
            extensions="mpe"
            class="com.example.e4.rcp.editors.MultiPageEditor"
            contributorClass="com.example.e4.rcp.editors.MultiPageEditorContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="com.example.e4.rcp.project"
            name="com.example.e4.rcp.project"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="project">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="com.example.e4.rcp.editors.XMLEditor"
            name="Sample XML Editor"
            icon="icons/sample.png"
            extensions="xml"
            class="com.example.e4.rcp.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
      </editor>
      <editorContentTypeBinding
            contentTypeId="com.example.e4.rcp.project"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editor
            id="com.example.e4.rcp.editors.MultiPageEditor"
            name="Sample Multi-page Editor"
            icon="icons/sample.png"
            extensions="mpe"
            class="com.example.e4.rcp.editors.MultiPageEditor"
            contributorClass="com.example.e4.rcp.editors.MultiPageEditorContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="com.example.e4.rcp.ProjectPresentationReconciler"
            contentType="com.example.e4.rcp.project">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="com.example.e4.rcp.ProjectHoverProvider"
            contentType="com.example.e4.rcp.project">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="com.example.e4.rcp.ProjectContentAssistProcessor"
            contentType="com.example.e4.rcp.project">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="com.example.e4.rcp.ProjectAutoEditStrategy"
            contentType="com.example.e4.rcp.project">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="com.example.e4.rcp.ProjectReconciler"
            contentType="com.example.e4.rcp.project">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="com.example.e4.rcp.ValidatorDocumentSetupParticipant"
            contentTypeId="com.example.e4.rcp.project"
            extensions="project">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.example.e4.rcp.handlers.SampleHandler"
            commandId="com.example.e4.rcp.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.example.e4.rcp.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.example.e4.rcp.importWizards.sampleCategory"
            name="Sample File Import">
      </category>
      <wizard
            id="com.example.e4.rcp.importWizards.ImportWizard"
            name="Import File"
            class="com.example.e4.rcp.importWizards.ImportWizard"
            category="com.example.e4.rcp.importWizards.sampleCategory"
            icon="icons/sample.png">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="com.example.e4.rcp">
      </category>
      <wizard
            id="com.example.e4.rcp.wizards.SampleNewWizard"
            name="Multi-page Editor file"
            icon="icons/sample.png"
            class="com.example.e4.rcp.wizards.SampleNewWizard"
            category="com.example.e4.rcp">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            id="com.example.e4.rcp.perspectives.RelEngPerspective"
            name="Release Engineering"
            class="com.example.e4.rcp.perspectives.RelEngPerspective"
            icon="icons/releng_gears.gif">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="com.example.e4.rcp.preferences.SamplePreferencePage"
            name="Sample Preferences"
            class="com.example.e4.rcp.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.example.e4.rcp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="com.example.e4.rcp.properties.samplePropertyPage"
            name="Sample Page"
            class="com.example.e4.rcp.properties.SamplePropertyPage"
            nameFilter="*.*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            id="com.example.e4.rcp.splashHandlers.interactive"
            class="com.example.e4.rcp.splashHandlers.InteractiveSplashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.eclipse.epp.package.rcp.product"
            splashId="com.example.e4.rcp.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/sample.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
